<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- Hibernate Configuration -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/springexp1" />
		<property name="username" value="hardik4u" />
		<property name="password" value="hardik4u" />
	</bean>

	<!-- Hibernate session factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">

		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>

			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.hardik4u.model.Employee</value>
			</list>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- DAO layer -->
	<bean id="employeeDAO" class="com.hardik4u.dao.EmployeeDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Service layer -->
	<bean id="empService" class="com.hardik4u.service.EmpServiceImpl">
		<property name="employeeDAO" ref="employeeDAO" />
	</bean>

	<!-- Web layer -->
	<bean id="empList" class="com.hardik4u.web.EmployeeAction">
		<property name="empService" ref="empService" />
	</bean>

</beans>